body {
     background-color:#ecb3ff;
     font-family: DIN Alternate;
     color: #5900b3;
     margin: 0;
     padding: 0;
  /* background: #ccc; This is the color grey; however, your site is purple. Superfluous Code */
     }


/*this is the css to float*/

#content {
width: 100px;
float: left;
padding: 0px 0px 0px 100px
}

#content2 {
width:150px;
float: right;
padding:0px 200px 0px
0px;
}
/********************************************** McGeehan Dropdown Navigation Bar *******************************************/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    	border:1px solid #007399;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/**************************************************************************************************************************/


